@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing:content-box
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Roboto', sans-serif;
}

.HomeTitle{
  font-size: calc(60px + 2vmin);
  letter-spacing: 5px;
  margin-bottom: 30px;
}

.HomeTitle + p{
  margin-bottom: 30px;
}

.Btn{
  margin-top: 50px;
  color: #E4E4E4;
  text-decoration: none;
  letter-spacing: 2px;
  border: 1px solid #E4E4E4;
  padding: 10px;
  font-size: calc(15px + 2vmin);
  transition: all 300ms;
  background-color: #282c34;
}

.Btn:hover, .Btn:focus{
  color: #789681;
  border: 1px solid #789681;
  box-shadow: 0 0 5px #E4E4E4;
  padding: 10px 25px;
  outline: none;
}

.Form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 30px 80px;
  width: 100%;
  margin-top: 50px;
  height: 80vh;
}

.FormGrid:last-of-type{
  grid-column: 1/3;
}

.FormLabel{
  display: block;
  height: 25px;
  font-weight: 700;
  text-align: left;
  padding: 25px 0 25px 10px;
  letter-spacing: 3px;
  font-size: calc(16px + 2vmin);
  cursor: pointer;
}

.InptForm{
  width: 400px;
  border-radius: 3px;
  margin-top: 20px;
  height: 60px;
  outline: none;
  background-color: #e5e5e5;
  font-size: calc(12px + 2vmin);
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: 300ms ease all;
  border: 3px solid transparent;
}

.InptForm:focus{
  border: 3px solid #0075FF;
  box-shadow: 3px 0px 10px rgba(163, 163, 163, 0.4);
}

.ErrorText{
  display: none;
  width: 480px;
  margin-top: 10px;
  color: #bb2929;
  font-size: calc(5px + 2vmin);
}

.RegisteredTitle{
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 100px;
}
